{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">

        <form class="nk-form" action="{{ app_path }}" method="post">
            {% csrf_token %}


                <div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro"><i class="fa fa-user"></i></span>
                    <div class="nk-int-st">
                        <label>
                            <input type="text" class="form-control" placeholder="Username" name="username">
                        </label>
                    </div>
                </div>
                <div class="input-group mg-t-15">
                    <span class="input-group-addon nk-ic-st-pro"><i class="fa fa-lock"></i></span>
                    <div class="nk-int-st">
                        <label>
                            <input type="password" class="form-control" placeholder="Password" name="password">
                        </label>
                    </div>
                </div>
                <div class="fm-checkbox">
                    <label><input type="checkbox" class="i-checks"> <i></i> Keep me signed in</label>
                </div>


                <button type="submit" class="btn btn-login btn-success btn-float"><i class="notika-icon notika-right-arrow"></i></button>

        </form>
    </div>
{% bootstrap_javascript jquery='full' %}
</body>
</html>